/* 1069px and Upper - Desktop Footer */
.footer {
	height: auto;
	width: 100%;
	background-color: var(--color-background);
	box-shadow: 0 0 45px rgb(0, 0, 0);
}

.footer-navigation {
	height: auto;
	width: 100%;
	padding: 3rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-text-extra-dark);
}

.footer-navigation .item-title {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--color-text-light);
	font-weight: var(--font-weight-bold);
	text-align: left;
}

.footer-navigation a {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-bold);
	transition: 0.3s ease;
}

.footer-navigation a:hover {
	color: var(--color-text-hover);
}

.footer-navigation .logo {
	height: 12rem;
	width: auto;
	display: flex;
}

.footer-navigation p {
	font-size: 1.5rem;
	line-height: 1.5;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
}

.footer-navigation .item-1 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-2 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-3 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-4 {
	width: 25%;
	height: 16.5rem;
	display: flex;
	flex-direction: row-reverse;
}



.footer-copyright {
	height: auto;
	width: 100%;
	padding: 2rem 0;
	display: flex;
	align-items: center;
}

.footer-copyright .copyright-text {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-copyright .copyright-text p {
	font-size: 1.5rem;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
	text-align: left;
}

.footer-copyright a {
	font-size: 1.5rem;
	color: var(--color-primary);
	font-weight: var(--font-weight-normal);
	text-align: left;
	transition: 0.3s ease;
}

.footer-copyright a:hover {
	text-shadow: 0 0 8px var(--color-secondary);
}

/*  834px - 1068px - Laptop Footer */
@media screen and (min-width: 834px) and (max-width: 1068px) {

	/* Navigation Section */
	.footer-navigation .logo {
		height: 10rem;
	}
}


/*  576px - 833px - Tablet Footer */
@media screen and (min-width: 576px) and (max-width: 833px) {

	/* Navigation Section */
	.footer-navigation .item-title {
		font-size: 1.4rem;
		line-height: 2;
	}

	.footer-navigation a {
		font-size: 1.4rem;
		line-height: 2;
	}

	.footer-navigation .logo {
		height: 8rem;
	}

	.footer-navigation p {
		font-size: 1.4rem;
	}

	.footer-navigation .item-1 {
		width: 22%;
	}
	.footer-navigation .item-2 {
		width: 22%;
	}
	.footer-navigation .item-3 {
		width: 26%;
	}

	.footer-navigation .item-4 {
		width: 32%;
	}

	/* Copyright Section */
	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
		padding-bottom: 1rem;
	}
}

/*  575px and Lower - Mobile Footer */
@media screen and (max-width: 575px) {

	/* Navigation Section */
	.footer-navigation {
		align-items: center;
		justify-content: center;
	}

	.footer-navigation .item-title {
		font-size: 1.4rem;
		line-height: 2.2
	}

	.footer-navigation a {
		font-size: 1.4rem;
		line-height: 2.2
	}

	.footer-navigation .item-1 {
		width: 30%;
	}
	.footer-navigation .item-2 {
		width: 30%;
	}
	.footer-navigation .item-3 {
		width: 40%;
	}

	.footer-navigation .item-4 {
		display: none;
	}

	/* Copyright Section */
	.footer-copyright .copyright-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
		padding-bottom: 1rem;
	}

	.footer-copyright .copyright-text a {
		font-size: 1.4rem;
	}
}