/* Guides section */
.faq {
    padding: 5rem 0;
}

.faq-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-content h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1.2;
    letter-spacing: 0.4rem;
    text-align: center;
    color: var(--color-text-light);
    animation: BlinkingWhiteShadow 3s ease-in-out infinite
}

.faq-content h2 span {
    background: var(--color-linear-1);
    -webkit-background-clip: text;
    color: transparent;
    animation: BlinkingPrimaryShadow 3s ease-in-out infinite;
}

.faq-container {
    width: 60%;
}

.question {
    height: 8rem;
    padding: 0 2rem;
    margin-top: 2.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    background: var(--color-text-extra-dark);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
}

.question i {
    margin-left: 0.3rem;
}

.question.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--color-primary);
}

.answer {
    max-height: 0rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--color-text-extra-dark);
    transition: background-color 0.3s, max-height 0.3s, padding 0.3s;
}

.answer.active {
    max-height: 50rem;
    padding: 0rem 2rem 2rem 2rem;
    background-color: var(--color-primary);
}

.answer p {
    font-size: 1.6rem;
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
}

.answer a {
    font-size: 1.6rem;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
    transition: 0.3s ease;
}

.answer a:hover {
    text-shadow: 0 0 8px var(--color-text-hover);
}

.answer ol {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.answer ol li {
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
    text-align: left;
    margin-left: 2.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

.answer ol li::marker {
    color: var(--color-secondary);
}

.downarrow-icon {
    padding-bottom: 5px;
    transition: transform 0.5s ease;
}

.question.active .downarrow-icon {
    transform: translateY(-6px) rotate(180deg);
    transform-origin: center;
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    .faq-container {
        width: 80%;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    .faq-content h2 {
        font-size: 3rem;
    }

    .faq-container {
        width: 100%;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    .faq {
        padding: 2.5rem 0;
    }

    .faq-content h2 {
        font-size: 3rem;
    }

    .faq-container {
        width: 100%;
    }

    .question {
        height: 7rem;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}