/* Tos section */
.tos {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5rem 0 0 0;
}

.tos-content {
    width: 100%;
    margin: auto;
    padding: 3rem;
    border-radius: 16px;
    background: var(--color-text-extra-dark);
    box-shadow: 0 0 25px rgb(0, 0, 0);
}

.tos-content h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin-bottom: 3rem;
    animation: BlinkingWhiteShadow 3s ease-in-out infinite;
}

.tos-content h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.tos-content h4 {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.tos-content h4 span {
    color: var(--color-primary);
}

.tos-content p {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color-text-light);
    text-align: left;
    margin-bottom: 1rem;
}

.tos-content p a {
    color: var(--color-primary);
}

.tos-content ol {
    list-style: square;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tos-content ol li {
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 1rem;
    margin-left: 3rem;
}

.tos-content ol li a {
    color: var(--color-primary);
}

.tos-content ol li::marker {
    color: var(--color-primary);
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    .tos {
        padding: 5rem 0 0 0;
    }

    .tos-content {
        padding: 2rem;
    }

    .tos-content h2 {
        font-size: 3rem;
    }

    .tos-content p {
        font-size: 1.6rem;
    }

    .tos-content ol li {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    .tos {
        padding: 2.5rem 0 0 0;
    }

    .tos-content {
        padding: 2rem;
    }

    .tos-content h2 {
        font-size: 2.5rem;
    }

    .tos-content h3 {
        font-size: 1.5rem;
    }

    .tos-content p {
        font-size: 1.5rem;
    }

    .tos-content ol li {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}